@using MvcSpa.Data
@model ProductViewModel
@{
    ViewBag.Title = "My Company";
}

@using (Html.BeginForm("Index", "Home"))
{
    <!-- Begin hidden fields area -->
    @Html.HiddenFor(m => m.EventCommand)
    <!-- End hidden fields area -->

    <!-- Begin search area -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Search for products</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.SearchEntity.Name, "Product Name")
                @Html.TextBoxFor(m => m.SearchEntity.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            <button id="search-product-btn" data-product-action="Search" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-search"></i>
                &nbsp;Search
            </button>
            <button id="reset-search-product-btn" data-product-action="ResetSearch" class="btn btn-sm btn-default">
                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Reset
            </button>
        </div>
    </div>
    <!-- End search area -->

    <!-- Begin list area -->
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Introduction Date</th>
                    <th>Url</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.IntroductionDate</td>
                        <td>@item.Url</td>
                        <td>@item.Price.ToString("c")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- End list area -->
}
@section scripts
{
    <script>

        $(document).ready(function () {
            $("[data-product-action]").on("click", function (e) {
                e.preventDefault();
                var newEventValue = $(this).attr("data-product-action");
                $("#EventCommand").val(newEventValue);
                $("form").submit();
            });
        });

    </script>
}
